@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Work Sans';
    overscroll-behavior: none;
}

html
{
    /*width: 800px;  /* max: 800px */
    width: 100vw;  /* max: 800px */
    height: 600px; /* max: 600px */
}

:root {
    --l-primary-color: #eb4034;
    --l-bg-color: #ffffff;

    --d-border-color: #ababab;/*var(--l-bg-color); */
    --d-text-color: var(--l-bg-color);


    --d-bg-color: #000000;
    --d-bright-g: #00FF00;
    --d-bright-p: #FF1C6F;
    --d-bright-y: #FFFF00;
    --d-bright-o: #FF5900;
    --d-bright-b: #0020A1;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: var(--l-primary-color) solid 1px;
}

.container.top {
    background-color: var(--d-bg-color);
    border-bottom: 1px solid var(--d-border-color);
    /* outline-offset: -20px; */

    position: fixed;
    top:0; left:0; right:0;
    height: 40px;

    z-index: 100;

    padding: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;

}

/* .container.top .searchBar:nth-child(1) {
    
}

.container.top .searchBar:nth-child(2) {
    
} */

form.searchBar {
    /* position: absolute; */

    /* padding: 0px 20px; */

    left: 0px;
    /* right: 0px; */
    
    height: 40px;

    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal; */

    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;

    /* z-index: 101; */
}

form input {
    border-radius: 20px;
    padding: 5px;
    border: none;

    height: 20px;

    min-width: 20px;
    /* min-height: 30px; */
    /* position: relative; */
}

form input:first-child {
    padding-left: 15px;
    padding-right: 30px;

    position: absolute;
    left: 20px;
    right: 20px;

    /* display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0; */
}

form input:nth-child(2) {
    --shrink-size: 10px;
    /* display: block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: auto;
    order: 0; */

    position: absolute;
    right: calc(20px + var(--shrink-size) / 2);
    top: calc(20px + var(--shrink-size) / 2);


    width: calc(30px - var(--shrink-size));
    height: calc(30px - var(--shrink-size));

    z-index: 1000;

    background-color: var(--d-bright-g);
}

.container.content {
    background-color: var(--d-bg-color);
    color: var(--d-text-color);

    /* position: relative; */
    min-height: calc(100vh - 80px);
    transform: translateY(80px);
    
    width: 100vw;
    /* top: 40px; */
    /* bottom: 0; */
    /* left: 0; right: 0; */
}