@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Work Sans', sans-serif;
    overscroll-behavior: none;
}

html
{
    /* Maximums: 

    width: 800px;  
    height: 600px */

    width: 350px;

    min-height: 70px;
    height: 70px;

    transition: height 0.5s;
}

:root {
    --l-primary-color: #eb4034;
    --l-bg-color: #ffffff;

    --d-border-color: #ababab; /* var(--l-bg-color); */
    --d-text-color: var(--l-bg-color);


    --d-bg-color: #000000;
    --d-bright-g: #00FF00;
    --d-bright-p: #FF1C6F;
    --d-bright-y: #FFFF00;
    --d-bright-o: #FF5900;
    --d-dark-o: rgb(127, 34, 13);
    --d-bright-b: #58b1ff;
}

body {
    margin: 0px !important;
}

input,
select,
textarea,
button
{
    transition: outline 0.25s;
}

input:focus,
select:focus,
textarea:focus,
button:focus
{
    outline: var(--d-dark-o) solid 4px;
    transition: outline 0.25s;
}

input:hover,
select:hover,
textarea:hover,
button:hover
{
    outline: var(--d-bright-o) solid 4.1px;
    transition: outline 0.25s, transform 0.5s;
}

.container.top {
    background-color: var(--d-bg-color);
    border-bottom: 1px solid var(--d-border-color);

    position: fixed;
    top:0; left:0; right:0;

    z-index: 100;

    padding: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

form.searchBar {
    left: 0px;
    height: 30px;

    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

form input {
    border-radius: 20px;
    padding: 5px;
    border: none;

    height: 20px;

    min-width: 20px;
}

form input:first-child {
    padding-left: 15px;
    padding-right: 30px;

    position: absolute;
    left: 20px;
    right: 20px;
}

form input:nth-child(2)#go {
    --shrink-size: 8px;

    position: absolute;
    right: calc(20px + var(--shrink-size) / 2);
    top: calc(20px + var(--shrink-size) / 2);


    width: calc(30px - var(--shrink-size));
    height: calc(30px - var(--shrink-size));

    z-index: 1000;

    background-color: var(--d-bright-b);

    padding: 0.5px 0px 0px 0.5px;
    text-align: center;
}

form input:nth-child(2)#go:hover, 
form input:nth-child(2)#go:active 
{
    background-color: #000000;
    color: white;

    transform: rotate(360deg);
}

.container.content {
    background-color: var(--d-bg-color);
    color: var(--d-text-color);

    height: calc(100vh - 80px);
    transform: translateY(70px);

    padding: 10px;

    position: absolute;
    left: 0px;
    right: 0px;

    overflow-y: auto;
}

ol#synonymList {
    padding-bottom: 8px;
}

li {
    list-style: none;
}

li.rounded-word {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    margin: 5px;
    text-align: center;
    white-space: nowrap;

    user-select: none;
    cursor: pointer;
}

li.synonym, li.antonym {
    transition: background-color 0.25s;
}

li.synonym {
    background-color: #4CAF50;
    color: white;
}

li.antonym {
    background-color: #af4e4c;
    color: white;
}

li.none-found {
    background-color: #af5e4c;
}


li.synonym:hover {
    background-color: #70ea74;
    color: black;
}

li.antonym:hover {
    background-color: #f05c5a;
    color: black;
}

li.none-found:hover {
    background-color: #da5436;
}

#synonymList.copy-mode li.rounded-word,
#synonymList.copy-mode li.compact-word
{
    cursor: copy;
}

#synonymList.open-mode li.rounded-word,
#synonymList.open-mode li.compact-word
{
    cursor: alias;
}

#synonymList.copy-mode li.rounded-word:hover,
#synonymList.open-mode li.rounded-word:hover,
#synonymList.copy-mode li.compact-word:hover,
#synonymList.open-mode li.compact-word:hover
{
    font-weight: bold;
}

::selection {
    color: var(--l-primary-color);
    background: var(--d-bright-y);
}

@keyframes spin { 100% { transform: rotate(360deg); } }
@keyframes idle { 100% {} }