@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Work Sans';
}

:root {
    --l-primary-color: #eb4034;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.container.top {
    padding: 20px;
    background-color: var(--l-primary-color);
}

form {
}

form input {
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    border: none;
}